body {
  height: 100vh;
}

nav {
  height: 5vh;
  width: 100vw;
  background-color: #DDD;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  background-color: #DDD;
  // height: 50%;
  min-height: 50%;
  margin: 10px;
  text-align: center;

  .ages {
    display: flex;
    flex-direction: column;

    p {
      padding: 0px;
      margin: 0px;
    }
    .age {
      display: flex;

      .person {
        height: 10px;
        width: 10px;
        margin: 3px;
      }
  
      .true {
        background-color: rgb(0, 17, 173);
      }
  
      .false {
        background-color: rgb(184, 3, 3);
      }
    }
    
  }

  .graph {
    height: 35vh;
    display: flex;
    width: 100%;
    justify-content: space-around;

    .class {
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      

      .bars {
        height: 90%;
        display: flex;
        align-items: flex-end;
        border: 1px black solid;
        div {
          width: 50px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          p {
            margin: 0px;
          }
        }

        .male {
          background-color: #1fb2f7;
        }

        .female {
          background-color: rgb(255, 81, 212);
        }
      }

    }
  }

}