body {
  height: 100%;
}

#dots {
  display: flex;
  flex-wrap: wrap;
}

#dots div {
  height: 20px;
  width: 20px;
  margin: 5px;
}
nav {
  height: 5vh;
  width: calc(100vw - 16px);
  background-color: #DDD;
  display: flex;
  justify-content: space-around;
  align-items: center;
}